
.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar-container {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
  }
}
