.chat {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.chat-header span:first-child {
    margin-right: 10px;
}

.chat-model {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.chat-window {
    flex: 1;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    position: relative;
}

.tabs {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.tab-button {
    padding: 2px 5px; 
    border: none;
    cursor: pointer;
    background-color: #e6e6e6;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 0.8em; 
}

.tab-button.active {
    background-color: #ccc;
}

.tab-icon {
    margin-right: 3px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 2px solid rgb(12, 12, 247); 
    border-radius: 5px;
    overflow: hidden;
}

.chat-input {
    flex: 1;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.chat-input:focus {
    outline: none;
}

.upload-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.upload-button i {
    font-size: 1.2em;
    color: white; 
    background-color: blue; 
    border-radius: 50%; 
    padding: 8px; 
}

@media (max-width: 768px) {
    .chat-model {
        display: none;
    }

    .tab-button {
        padding: 2px 5px; 
        font-size: 0.7em; 
    }
}
